<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cat.sleepy.sleepycat.restapi.sample.dao.SampleDao">

	<select id="searchUsers" resultType="com.cat.sleepy.sleepycat.restapi.sample.dto.SampleDto">
		SELECT * FROM `USER` WHERE 1
	</select>
	
	<select id="searchUsers1" resultType="hashmap">
		SELECT * FROM `USER` WHERE 1
	</select>

</mapper>